html
  head
    title All messages
    style.
      body {
        background-color: ;
      }

      div {
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      div {
        margin: auto;
      }

      ul.messages{
        list-style-type: none;
        border: 5px solid #990000;
        border-radius: 5px;
        width: 700px;
        margin: 20px auto;
        text-align: center;
        padding: 0;
      }

      li.messages {
        padding: 20px;
      }

      li.messages:hover {
        background: #ccc;
        cursor: pointer;
      }

      input[type=text] {
        margin: 10px;
        width: 600px;
        height: 30px;
        text-align: center;
        margin-right: 0;
      }

      input[type=submit]{
        margin: 10px;
        height: 30px;
        width: 95px;
        margin-left: 5px;
      }

      p.username {
        text-align: right;
        margin-bottom: 0;
        font-size: 0.6em;
      }

  body
    include nav.pug
    br
    br
    br

    div
      h1 Bulletin Board
      form(method="post" action ="/search-messages")
        input(type="text" name="search" placeholder="Search messages")
        input(type="submit" value="search")

    -for (var i = 0; i <allMessages.length; i++)
      div
        ul.messages
          li.messages
            h3 #{allMessages[i].title}
            p #{allMessages[i].body}
            p.username Posted by: #{allMessages[i].username}
